*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background: rgb(4, 4, 29);
   font-size: 30px;
}
/* Body-header */
#body-header 
{
margin-left:10% ;
margin-top: 3%;
width: 50vw;
position: relative;
padding: 1rem;
}
.div
{
    height: 25vh;
    width: 20vw;
    box-shadow: 0px 0px 6px 4px grey inset;
    display: inline-block;
    border-radius:2rem ;
}
#div1
{
    margin-right: -15%;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7bf6675c-6d5c-4970-b9e0-196f94fa76df/d55clc9-cabd6812-768d-48a4-acc4-a949b9a82712.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvN2JmNjY3NWMtNmQ1Yy00OTcwLWI5ZTAtMTk2Zjk0ZmE3NmRmXC9kNTVjbGM5LWNhYmQ2ODEyLTc2OGQtNDhhNC1hY2M0LWE5NDliOWE4MjcxMi5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.K3oB0Oj1yEBTHE3SQmnnpLKV83CYSEqkB5FWsAFd_gU);
  background-size: cover;
  background-position: center;
  position: relative;
}
#div2
{
    background-image: url(https://assets.popbuzz.com/2016/06/twenty-one-pilots-1455106940-list-handheld-0.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    transform: scale(1.1);
    z-index: 1;
}
#div3
{
    margin-left: -15%;
    background-image: url(https://i.ytimg.com/vi/D4OXbWoMNWc/maxresdefault.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
#div1:hover,#div3:hover,#div2:hover
{
    transform: scale(1.2);
    z-index: 2;
    transition: 0.5s ease-in-out;
}
main{
    display: inline-block;
}
/* Albums */
#albums
{
    height: 25vh;
    width: 60vw;
    margin-top: 2%;
    position: relative;
    left: 13%;
    padding-bottom:3%;
}
#albums>h1{
color: antiquewhite;
font-family: cursive;
font-size: 20px;
margin-bottom: 3%;
}
.temp
{
    height: 15vh;
    width: 15vh;
    background-image: url(https://upload.wikimedia.org/wikipedia/en/e/e5/Strange_Trails_cover.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    transition: 1s ease-in-out;
    margin-left: 5%;
    margin-top: 1%;
    display: inline-block;
}
.temp:hover{
    border-radius: 1rem;
    margin-top: 1%;
    transform:scale(1.3) rotate(360deg);
    z-index: 2;
}
/* Latest-Releases */
#latest-release
{
    width: 45vw;
    height: auto;
    margin-left: 15%;
    margin-top: 8%;
}
.latest-song
{
    height: 55px;
    margin: 5%;
    width: 35%;
    margin-left: 5%;
    display: inline-block;
}
.latest-song img{
    height: 50px;
    width: 50px;
    float: right;
    border-radius: 1em;
    box-shadow:0px 0px 4px 2px rgb(141, 141, 231);
}
.latest-song a{
    font-size: 13px;
    font-family: cursive;
    font-weight: 100;
    text-decoration: none;
    color: bisque;
    margin-top: 5%;
}
#genre-section
{
    width: 55vw;
    height: auto;
    margin-left: 15%;
    margin-top: 8%;
}
.genre
{
    height: 15vh;
    width: 15vh;
    background-position: center;
    background-size: cover;
    transition: 1s ease-in-out;
    border-radius: 50%;
    margin-left: 3%;
    margin-top: 1%;
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-align: center;
 background-color: rgba(128, 128, 128, 0.945);
}
.genre img{
    height: 100%;
    width: 100%;
   
}
.genre .heading
{
    position: absolute;
    font-size: 8px;
    top: 30%;
    left: 30%;
}
.genre:hover{
    border-radius: 1rem;
    margin-top: 1%;
    transform:scale(1.3) rotate(360deg);
    z-index: 2;
}
#moods
{
    height: auto;
    width: 65vw;
    margin-left: 15%;
    margin-top: 5%;
}
.mood
{
    height:20vh;
    width: 20vw;
    position: relative;
    text-align: center;
    display: inline-block;
    overflow: hidden;
   
}
.mood img{
    height: 100%;
    width: 100%;
    transition: 1s ease-in-out;
}
.mood .heading
{
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 1;
}
.mood img:hover
{
    transform: scale(1.5);
}
/* Aside Section */
aside
{height: 85vh;
    width: 25vw;
    vertical-align: top;
display: inline-block;
margin-top: 5%;
margin-left: 8%;
overflow-y: scroll;
position: fixed;
}
aside::-webkit-scrollbar
{
    display: none;
}
#My-Playlist
{
    height: 75vh;
}
#My-Playlist li
{
list-style: none;
color: bisque;
}
.heading{
    font-size: 20px;
    font-family: cursive;
    color: aliceblue;
}
.list-song
{
    height: 55px;
    margin: 5%;
    width: 75%;
    margin-left: 10%;
}
.list-song a{
    font-size: 13px;
    font-family: cursive;
    font-weight: 100;
    text-decoration: none;
    color: bisque;
    margin-top: 5%;
}
.list-song img{
    height: 50px;
    width: 50px;
    float: right;
    border-radius: 1em;
    box-shadow:0px 0px 4px 2px rgb(141, 141, 231);
}
