*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: cursive;
    font-size: 25px;
    background: rgb(4, 4, 29);
}
.sub-section
{
    margin-top: 4%;
    margin-bottom: 4%;
}
/* Header Section */
header{
    width: 100%;
    height: 5em;
    background-color: rgb(4, 4, 29);
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 5;
}
#logo
{
    width: 10em;
    height: 5em;
    background-color: blue;
    display: flex;
}
#logo img{
    height: 15vh;
    width: 15vh;
}
#basics
{
    width: 10em;
    height: 5em;
    background-color: blue;
    display: flex;
    margin-left: 5%;
}
#searchbar-profile
{
    width: 10em;
    height: 5em;
    background-color: blue;
    display: flex;
    margin-left: 40%;
}
/* Main-Section */
main{
    margin-top: 10%;
    width: 65vw;
    height: auto;
    display: inline-block;
    margin-left: 7%;
}
.sec-heading
{
    font-size: 20px;
    margin-bottom: 1%;
    color: white;
}
#trending
{
    width: auto;
    /* background-color: aquamarine; */
    position: relative;
    padding: 2em;
    margin-left: 7%;
}
.banner
{
    height: 28vh;
    width: 25vw;
    /* background-color: brown; */
    display: inline-block;
    border-radius: 1em;
    box-shadow:0px 0px 6px 5px beige;
    transition: 0.5s ease-in-out;
}
#first
{
    position: relative;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7bf6675c-6d5c-4970-b9e0-196f94fa76df/d55clc9-cabd6812-768d-48a4-acc4-a949b9a82712.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvN2JmNjY3NWMtNmQ1Yy00OTcwLWI5ZTAtMTk2Zjk0ZmE3NmRmXC9kNTVjbGM5LWNhYmQ2ODEyLTc2OGQtNDhhNC1hY2M0LWE5NDliOWE4MjcxMi5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.K3oB0Oj1yEBTHE3SQmnnpLKV83CYSEqkB5FWsAFd_gU);
    background-size: cover;
    background-position: center;
}
#first:hover,#second:hover,#third:hover
{
    transform:scale(1.2);
    z-index: 2;
}
#second
{
    margin-left: -30%;
    transform: scale(1.1);
    background-image: url(https://assets.popbuzz.com/2016/06/twenty-one-pilots-1455106940-list-handheld-0.jpg);
    background-size: cover;
    background-position: center;
    z-index: 1;
    position: relative;
}
#third
{
    margin-left: -30%;
    position: relative;
    background-image: url(https://i.ytimg.com/vi/D4OXbWoMNWc/maxresdefault.jpg);
    background-size: cover;
    background-position: center;
}
#latest-release
{
    margin-top: 2%;
    width: auto;
    height: auto;
    position: relative;
    ;
}
.latest-song
{
    width: 15em;
    height: 5em;
    background-color: blue;
    display: flex;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.latest-song img{
    height: 80%;
    width: 30%;
    margin-top: 5%;
    margin-left: 2%;
}
.song-info
{
    width: 70%;
    height: 100%;
    display: inline-block;
}
.sec-content
{
   height: auto;
   width: auto; 
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
}
.artist
{
    height: 15vh;
    width: 15vh;
    background-image: url(https://upload.wikimedia.org/wikipedia/en/e/e5/Strange_Trails_cover.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    transition: 1s ease-in-out;
    margin-left: 3%;
    margin-top: 1%;
}
#song-genres
{
    background-color: rgb(7, 7, 47);
    width: 55vw;
    padding: 2px;
}
#icon
{
    height: 15vh;
    width: 15vh;
    background-image: url(Image.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    transition: 1s ease-in-out;
   
}
.genre
{
    height: 12vh;
    width: 12vh;
    background-image: url(https://upload.wikimedia.org/wikipedia/en/e/e5/Strange_Trails_cover.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    transition: 1s ease-in-out;
    margin-left: 3%;
    margin-top: 1%;
}
.mood
{
    width: 9.5em;
    height: 5em;
    /* background-color: blueviolet; */
    margin-left: 1%;
    overflow: hidden;
}
.mood img{
    height: 100%;
    width: 100%;
    transition: 1s ease-in-out;
}
.mood img:hover
{
    transform: scale(1.5);
}
.e-song
{
    height: 15vh;
    width: 15vh;
    background-color: crimson;
    margin-left: 3%;
    margin-bottom: 1%;
}
.h-song
{
    height: 15vh;
    width: 15vh;
    background-color: crimson;
    margin-left: 3%;
    margin-bottom: 1%;
}
.one
{
    margin-left: 0;
}
/* Aside-Section */
aside
{position: fixed;
    width: 20vw;
    height: 80vh;
    background-color: rgba(97, 86, 86, 0.513);
    display: inline-block;
    margin-left: 4%;
    vertical-align: top;
    margin-top: 15%;
}